<div class="lf-login-form-container">
  <div class="lf-card">
    <header class="lf-login-header">
      <h1>VOLVO SUPPLIER INFORMATION BASE</h1>
      <p>its all about Volvo Suppliers. <a class="more">More...</a></p>
    </header>
    <form class="lf-login-form lf-login-card">
      <div class="access">
        Enter login credential to access
      </div>
      <div>
        <label for="lf-login-email" class="user-margin">User ID</label>
        <input id="lf-login-email" type="email" class="input" formControlName="email" placeholder="vcn\<Security ID>">
      </div>

      <div class="lf-field-group">
        <label for="lf-login-password">Password</label>
        <input id="lf-login-password" type="password" class="input" formControlName="password" placeholder="Your AD/ Outlook password">
      </div>

      <div class="lf-field-submission">
        <button class="lf-btn login-btn" type="submit">
          <span>Login</span>
        </button>
      </div>

      <footer class="lf-login-footer">
        <h3>(or)</h3>
        <h4>Request access to VSIB</h4>
      </footer>
    </form>
  </div>
</div>
